body{
	margin-left: 10%;
	margin-right: 10%;
}

#Header{
	min-height: 60px;
	border-bottom: solid thin;
}

#Header * {
	margin-right: 10px;
}

img.IconImage{
	height: 20px;
	width: 20px;
}

input[type=text], input[type=password], input[type=email]{
	padding: 3px;
}